body { display:flex; flex-direction:column; justify-content:center; align-items:center;
      background:black; color:white; font-family:Arial; text-align:center; margin:0; height:100vh;}
.container{max-width:600px; text-align:center;}
#progress{width:100%;height:20px;background:#333;border-radius:10px;margin-top:10px;}
#bar{height:100%;width:0;background:#00ff83;border-radius:10px;transition:width 1s linear;}
input,button{padding:10px;margin:5px; border-radius:10px; border:none; cursor:pointer;}
.big{font-size:48px;font-weight:bold;}
.medium{font-size:24px; margin-bottom:5px;}
.button-row{display:flex; justify-content:center;}

